@import "tailwindcss";

@layer base{
  h2{
    /* color:green; */
    @apply text-green-300 text-6xl;
  }
}

.btn-primary{
  @apply rounded-md bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2;
}

.form-label{
  @apply text-slate-500 mb-1 text-left text-sm;
}
.form-control{
  @apply border border-blue-400 p-1;
}
.invalid-feedback{
  @apply text-red-400 text-left text-xs my-1;
}