@import "tailwindcss";

@layer base{
  h2{
    /* color:green; */
    @apply text-green-300 text-6xl;
  }
}

.btn-primary{
  @apply bg-blue-500 text-white rounded-2xl px-4 py-1 cursor-pointer hover:bg-blue-800 transition-all duration-300;
}